.i-o {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 15px;

  background-color: $foreground-color;
}

.i-o__input {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  font-size: 25px;
  text-align: right;

  @media (min-width: $page-width-smartphone) {
    font-size: 28px;
  }

  @media (min-width: $page-width-smartphone + ($page-padding-mobile * 2)) {
    font-size: 32px;
  }
}
