.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: grid;
  align-items: center;
  min-width: $min-page-width;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: $page-padding;

  font-family: "Roboto Mono", "Courier New", monospace;
  color: $text-color;

  background-color: $background-color;
}

.page__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__calc {
  width: 100%;
  max-width: $calc-max-width;
}

.page__about {
  width: 100%;
  max-width: $calc-max-width;
}
