.controls {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "percentage  clear-entry  clear              backspace"
    "reciprocal  power-two    square-root        divide"
    "digit-7     digit-8      digit-9            multiplication"
    "digit-4     digit-5      digit-6            minus"
    "digit-1     digit-2      digit-3            plus"
    "opposite    digit-0      decimal-separator  equals";
  row-gap: 4px;
  column-gap: 4px;
}

.controls__button {
  min-height: 55px;
}

.controls__clear {
  grid-area: clear;
}

.controls__clear-entry {
  grid-area: clear-entry;
}

.controls__backspace {
  grid-area: backspace;
}

.controls__digit-1 {
  grid-area: digit-1;
}

.controls__digit-2 {
  grid-area: digit-2;
}

.controls__digit-3 {
  grid-area: digit-3;
}

.controls__digit-4 {
  grid-area: digit-4;
}

.controls__digit-5 {
  grid-area: digit-5;
}

.controls__digit-6 {
  grid-area: digit-6;
}

.controls__digit-7 {
  grid-area: digit-7;
}

.controls__digit-8 {
  grid-area: digit-8;
}

.controls__digit-9 {
  grid-area: digit-9;
}

.controls__digit-0 {
  grid-area: digit-0;
}

.controls__decimal-separator {
  grid-area: decimal-separator;
}

.controls__opposite {
  grid-area: opposite;
}

.controls__plus {
  grid-area: plus;
}

.controls__minus {
  grid-area: minus;
}

.controls__multiplication {
  grid-area: multiplication;
}

.controls__divide {
  grid-area: divide;
}

.controls__power-two {
  grid-area: power-two;
}

.controls__equals {
  grid-area: equals;
}

.controls__square-root {
  grid-area: square-root;
}

.controls__reciprocal {
  grid-area: reciprocal;
}

.controls__percentage {
  grid-area: percentage;
}
