// Roboto Mono Regular

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto Mono"),
    local("Roboto Mono Regular"),
    local("RobotoMono-Regular"),
    url("#{$fonts}/RobotoMono-Regular.woff2") format("woff2"),
    url("#{$fonts}/RobotoMono-Regular.woff") format("woff");
}

// Roboto Mono Bold

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Roboto Mono Bold"),
    local("RobotoMono-Bold"),
    url("#{$fonts}/RobotoMono-Bold.woff2") format("woff2"),
    url("#{$fonts}/RobotoMono-Bold.woff") format("woff");
}
